
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../src/fonts/Gilroy-Regular.ttf');
}

@font-face {
	font-family: 'Gilroy-Light';
	src: url('../src/fonts/Gilroy-Light.ttf');
}


*{
	margin:0;
	padding:0;
	font-family: 'Gilroy-Regular';
	box-sizing:border-box;
}

body>div{
    height:0;
    width:0;
}

body{
	min-height: 100vh;
	background-image:url(https://media4.giphy.com/media/229ZAKD0M1Uc9UwjGE/giphy.gif?cid=ecf05e47ql9xls0m7libo7tqgbk81m6nghhpu21vr9b4r5ok&rid=giphy.gif);
    background-attachment: fixed;
    background-color:black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center ;
	padding:20px 20px 200px 20px;
	color:white;
}

.birthday_wrapper{
    padding-top:0;
}

header{
    top:0;
    left:0;
    padding:20px;
    background-color:rgba(100, 100, 100, .5);
    background-color:transparent;
    position:fixed;
    width:100%;
    font-size:40px;
    padding:.5em;
}


.search_wrapper{
    position:relative;
}

#myInput{
    margin:auto;
    width:100%;
    border:.1em solid rgba(100,100,100);
    color:white;
    font-size:1em;
    padding:0 0 6px 1.2em;
    background-image:url('../src/search.png');
    background-color:black;
    background-position:10px center;
    background-size:30px;
    background-repeat:no-repeat;
    transition:.1s;
    position:relative;
}

#myInput:focus{
    border:.1em solid rgba(152,83,255, .5);
    outline:none;
    
}

.clear_search{
    position:absolute;
    top:  14px;
    right:14px;
    background:#FFF;
    border-radius:50px;
    background-image:url('../src/close-icon.svg');
    background-position:center;
    background-size:30px;
    background-repeat:no-repeat;
    height:34px;
    width:34px;
}


img{
    height:80px;
    width: 80px;
}

.now_is_date{
    color:white;
}
.users_pointers_block{
    display:flex;
    gap:.5em;
}

.user_old{
    display:none !important;
}


.user_visible{
    display:grid !important;
}



.user_not_visible{
    display:none !important;
}

.user_block{
    border:3px solid rgba(152,83,255, 1);
	background-color: rgba(255,255,255,.1);
	display:grid;
	gap:10px;
	margin:10px 0;
	padding:0px;
}

.user_stats{
    display: grid;
    grid-template-columns: auto 1fr auto;
	align-items:center;
    gap:10px;
}

.info_block{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 5px 0;
}

.user_name{
    font-size:20px;
}

.points_block{
    display:flex;
    margin-left:auto;
    justify-content:center;
    align-items:center;
    border:3px solid rgba(152,83,255, .5);
	background-color: rgba(255,255,255,.1);
    height:calc(80px - 6px);
    width: calc(80px - 6px);
    justify-self: end;
    
    color:rgb(152,83,255);
    font-size:60px;
    transition:.2s;
    
    background-size:40%;
    background-position:center;
    background-repeat:no-repeat;
}


.add_point{
    background-image:url('../src/plus.png');   
}

.minus_point{
    background-image:url('../src/minus.png');
}

.loading{
    background-image:url(https://i.gifer.com/ZZ5H.gif);
}


.user_info{
    color:black;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.used{
    display:none !important;
}
.none{
    display:none !important;
}

@media (max-width: 600px) {
    body{
        padding:3vw 6vw 30vw 6vw;
    }
    
    header{
        top:auto;
        bottom:0;
        padding: 6vw;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,255,255,0) 100%);
    }
    
    .search_wrapper{
        padding:0 ;
        display:grid;
        grid-template-columns:15vw auto;
        gap:3vw;
    }
    
    .remote_control_btn{
        width:15vw;
        height:15vw;
        border: 3px solid rgba(100,100,100);
        background-color:black;
        background-image:url('../src/B.svg');
        background-repeat:no-repeat;
        background-position:center;
        border-radius: 4vw;
        align-self: center;
    }
    
    #myInput{
        
        border:3px solid rgba(100,100,100);
        padding-bottom:1.5vw;
        border-radius:4vw;
        opacity:1;
        font-size:10vw;
        transition:.2s;
        background-size:10vw;
    }
    
    #myInput:focus{
        margin:0;
        border-radius:9vw;
    }
    
    .input_date{
        font-size:5vw;
    }
    
    .user_block{
        border-radius:3vw;
    }
    
    .users_pointers_block{
        font-size:4vw;
    }
    
    .user_stats {
        grid-template: 1fr/15vw 1fr 15vw;
    }
    img{        
        height: 16vw;
        width: 16vw;
        border-radius: 2vw 0vw 0vw 2vw;
    }
    .points_block{
        height: 17vw;
        width: 16vw;
        border-radius: 0vw 3vw 3vw 0vw;
        margin: -1vw -1vw;
    }
    .user_name{
        font-size:4vw;
    }
}

.controler_sectoion{
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, .5);
    
    font-size:5vw;
    transition:background .75s;
}

.controler_sectoion.hidden{
    top:100vh;
    background-color:rgba(0, 0, 0, 0);
}

.controler_wrapper{
    background-color:black;
    position:absolute;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:4vw;
    padding:4vw;
    bottom:25vw;
    border-radius: 30px;
    border: 3px solid #9A5AF9;
    width:calc(100% - 12vw);
    transition:.75s;
}

.controler_wrapper.hidden{
    bottom:-40vw;
}

.controler_close, .controler_drop{
    border: 3px solid #737373;
    border-radius: 15px;
    display:flex;
    gap:2vw;
    padding:3.5vw 3vw;
}

.controler_chose{
    background: linear-gradient(92.24deg, #6B1DBB 0%, #471895 100%);
    border-radius: 15px;
    padding:3.5vw 3vw;
    grid-column: 1 / 3;
    display:flex;
    justify-content:center;
    gap:.3em;
}

.controler_close_icon, .controler_drop_icon{
    height:1em;
    width:1em;
    background-size:contain;
    background-position:bottom center;
}

.controler_close_text, .controler_drop_text{
    line-height:1.2em;
}

.controler_close_icon{
    background-image:url('src/Union.png');
}

.controler_drop_icon{
    background-image:url('src/Frame 9.png');
}


.controler_randome_counter{
    color:#FFD600;
}

.controler_close_chose{
    background: linear-gradient(92.24deg, #FFD600 0%, #FF9900 100%);
    border-radius: 15px;
    padding:3.5vw 3vw;
    grid-column: 1 / 3;
    display:flex;
    justify-content:center;
    gap:.3em;
}

.controler_close, .controler_drop, .controler_close_chose, .controler_chose{
    cursor:pointer;
    user-select:none;
}













.birth_form{
    display:grid;
    grid-template:auto/repeat(3, auto);
    justify-items: stretch;
	gap:5px;
}


@media (max-width: 600px) {
    .birth_form{
    	gap:1.5vw;
    }
}

form div{
    display:flex;
    gap:1.5vw;
}

form>*{
    border-radius: .2em;
}
.date_button{
    display:block;
	grid-column:1/4;
    border:3px solid rgba(152,83,255, .5);
	background-color: rgba(255,255,255,.1);
	color:white;
	width:100%;
	font-size:20px;
	text-align:center;
	cursor:pointer;
	user-select:none;
}



.input_date{
    border:.15em solid rgba(152,83,255, .5);
    outline:none;
    background-color:rgba(255,255,255,.1);
    font-size:20px;
    color:white;
    padding:0 .2em;
}

.input_day{
    width:2em;
}


.input_month{
    width:2em;
}

.input_year{
    width:3.1em;
}

@media (max-width: 600px) {
    form .date_button{
    	font-size:5vw;
    }
}

.all_users_info{
    display:flex;
    justify-content:space-between;
}

.all_users_info div{
    display:flex;
    justify-content:space-between;
}







